{% extends "regulations/base.html" %}
{% load static %}
{% block title_prefix %}About This Tool |{% endblock title_prefix %}
{% block header %}
    {% include "regulations/partials/header.html" %}
{% endblock header %}
{% block body %}
    <div class="site-container">
        <main class="about">
            <h1>About</h1>
            <section>
                <p>Policy Connector is customizable based on your unique needs. The demo provides an example of what we have implemented for a federal government client, which we could replicate if that meets your needs. We would sit down with you to understand your needs and propose the best solution for you.</p>
                <p>
                    Want <strong>a new instance of Policy Connector</strong> for your federal, state, or local government agency or nonprofit? <strong><a href="https://www.a1msolutions.com/hire-us" class="external" target="_blank" rel="noopener noreferrer">Send us a message</a></strong>.
                </p>

            </section>
            <section>
                <h2>
                    Our Company
                </h2>
                <p>
                   We are <strong><a href="https://www.a1msolutions.com/" class="external" target="_blank" rel="noopener noreferrer">A1M Solutions</a></strong>. We embed policy and domain expertise into cross functional agile teams to deliver sustainable outcomes with measurable value. Our design is grounded in user research and testing, leading to faster delivery of usable code.
                </p>
            </section>
            <section id="automated-updates">
                <h2>
                    How This Site Is Updated
                </h2>
                <p>What makes this platform unique is it can combine federal and state policy information to help users understand the full scope of requirements. In addition, our approach is to combine automation with expert SME curation so that clients can ensure that the information is accurate and reliable. </p>
                <h3>
                    Curated Links to Resources
                </h3>
                <p>
                    To incorporate executive orders, memos, guidance, agency publications, and other kinds of resources, we add links to the database by hand and annotate them with related regulations and subjects. We make an effort to keep this site up to date, but we cannot promise a specific cadence of updates.
                </p>
                <p>
                    For production instances of Policy Connector, we automatically import links and documents from RSS feeds, APIs, and other sources of structured data.
                </p>
                <h3>
                    Public Government APIs
                </h3>
                <p>
                    This tool displays regulation text from <a href="https://www.ecfr.gov/" class="external" target="_blank" rel="noopener noreferrer">eCFR</a>. When new rules become effective, the Office of the Federal Register incorporates them into eCFR <a href="https://www.ecfr.gov/reader-aids/understanding-the-ecfr/how-is-the-ecfr-updated" class="external" target="_blank" rel="noopener noreferrer">within two business days</a>. This tool syncs with eCFR once a day using the <a href="https://www.ecfr.gov/reader-aids/ecfr-developer-resources/rest-api-interactive-documentation" class="external" target="_blank" rel="noopener noreferrer">eCFR API</a>. So, it can take up to three business days for changes to be incorporated into this tool.
                </p>
                <p>
                    Links to new rules are pulled automatically from the <a href="https://www.federalregister.gov/" class="external" target="_blank" rel="noopener noreferrer">Office of the Federal Register</a> once a day, using the <a href="https://www.federalregister.gov/developers/documentation/api/v1" class="external" target="_blank" rel="noopener noreferrer">Federal Register API</a>.
                </p>
                <p>
                    This tool also uses the <a href="https://www.govinfo.gov/link-docs/" class="external" target="_blank" rel="noopener noreferrer">GovInfo Link Service</a> to provide links to past versions of regulations.
                </p>
                <h3>
                    Open Source Code
                </h3>
                <p>
                    You are invited to <a href="https://github.com/A1MSolutions/humanservices" class="external" target="_blank" rel="noopener noreferrer">check out the code</a>.
                </p>
                </section>
        </main>
    </div>
{% endblock body %}
