{% extends "regulations/base.html" %}
{% load static %}
{% load render_nested %}

{% block title_prefix %}{% endblock %}

{% block body_class %}site-homepage--update{% endblock %}

{% block pre_header %}
<a class="ds-c-skip-nav" href="#main-content">Skip to main content</a>
{% endblock %}

{% block header %}
    {% include "regulations/partials/header.html" %}
{% endblock %}

{% block body %}
<main>
    <div id="main-content">
        <!-- Value proposition section at the top -->
        <div class="top-container value-proposition">
            <div>
                <h2>An Easier Way to Navigate Policy Information</h2>
                <p class="value-proposition__text">
                    This demo site brings together statute, regulations, guidance, and other policy resources related to eligibility for Medicaid, SNAP, and TANF. It focuses on recent policy developments, such as work requirements and the implementation of the OBBBA. See what can happen when you have all your policy resources in one place. <a class="contact" href="{% url 'about' %}" >Learn how to get Policy Connector for your policy area →</a>
                </p>
            </div>
            <div class="featured">
                <div class="featured-materials interactive">
                    <h3>Regulations with Context</h3>
                    <div class="featured-materials__text">
                        <p>Get the whole picture. Read regulations and jump to related statutes and guidance. <em>Try it</em>:</p>
                        <ul>
                            <li><a href="/7/273/Subpart-B/#273-4"><strong>7 CFR 273.4</strong> Citizenship and alien status.</a></li>
                            <li><a href="/42/435/Subpart-J/#435-956"><strong>42 CFR 435.956</strong> Verification of other non-financial information.</a></li>
                            <li><a href="/45/265/2024-10-02/#265-3"><strong>45 CFR 265.3</strong> What reports must the State file on a quarterly basis?</a></li>
                        </ul>
                    </div>
                </div>
                <div class="featured-materials interactive">
                    <h3>Topic-Based Research</h3>
                    <div class="featured-materials__text">
                        <p>Start with a subject and find answers in the latest rules, guidance, issue briefs, and more. <em>Try it</em>:</p>
                        <ul>
                            <li><a href="/subjects?subjects=6">Citizenship and Immigration</a></li>
                            <li><a href="/subjects?subjects=7">Eligibility Verification</a></li>
                            <li><a href="/subjects?subjects=1">Work Requirements</a></li>
                        </ul>
                    </div>
                </div>
                <div class="featured-materials interactive">
                    <h3>One Search, All Sources</h3>
                    <div class="featured-materials__text">
                        <p>Is something in statute, regulation, or guidance? Search everything at once. <em>Try it</em>:</p>
                        <ul>
                            <li><a href="/search/?q=Timeliness+of+application+processing">Timeliness of application processing</a></li>
                            <li><a href="/search/?q=Income+data+sources">Income data sources</a></li>
                            <li><a href="/search/?q=Foster+youth+eligibility">Foster youth eligibility</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Side-by-side layout container -->
        <div class="main-content-wrapper">
            <!-- Left side: Regulations navigation -->
            <div class="regulation-navigation">
                <nav id="placeholderNav"></nav>
                <left-nav-collapse contents-description="table of contents">
                    <template #nav-contents>
                        <toc-container
                            api-url="{{ API_BASE }}"
                            home-url="{% url 'homepage' %}"
                        ></toc-container>
                    </template>
                </left-nav-collapse>
            </div>

            <div class="content-section">
                <div class="top-container">
                    <div class="cta__container">
                        <div class="cta">
                            <div class="resources__container">
                                <recent-resources
                                    api-url={{ API_BASE }}
                                    home-url="{% url 'homepage' %}"
                                ></recent-resources>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
