{% extends "regulations/base.html" %}
{% load static %}
{% load render_nested %}

{% block title_prefix %}{% endblock %}

{% block body_class %}site-homepage--update{% endblock %}

{% block pre_header %}
<a class="ds-c-skip-nav" href="#main-content">Skip to main content</a>
{% endblock %}

{% block header %}
    {% include "regulations/partials/header.html" %}
{% endblock %}

{% block body %}
<main>
    <div id="main-content">
        <!-- Value proposition section at the top -->
        <div class="top-container value-proposition">
            <div>
                <h2>An Easier Way to Navigate Policy Information</h2>
                <p class="value-proposition__text">
                    Statute, regulations, and guidance in one place. Find what you need and discover how policies relate to each other.
                    Try it using human services eligibility policy as a live example,  and <a class="contact" href="{% url 'about' %}" >learn how to get Policy Connector for your policy area →</a>
                </p>
            </div>
            <div class="featured">
                <div class="featured-materials interactive">
                    <h3>Regulations with Context</h3>
                    <div class="featured-materials__text">
                        <p>Get the whole picture. Read regulations, then jump to related statutes, executive orders, memos, and handbooks. <em>Try it</em>:</p>
                        <ul>
                            <li><a href="/42/431/Subpart-E/2024-10-25/#431-206"><strong>42 CFR 431.206</strong> Informing applicants and beneficiaries.</a></li>
                            <li><a href="/45/265/2024-10-02/#265-3"><strong>45 CFR 265.3</strong> What reports must the State file on a quarterly basis?</a></li>
                        </ul>
                    </div>
                </div>
                <div class="featured-materials interactive">
                    <h3>Topic-Based Research</h3>
                    <div class="featured-materials__text">
                        <p>Start with a subject and find answers in rules, executive orders, guidance, court cases, GAO reports, and more. <em>Try it</em>:</p>
                        <ul>
                            <li><a href="/subjects?subjects=6">Citizenship and Immigration</a></li>
                            <li><a href="/subjects?subjects=7">Eligibility Verification</a></li>
                            <li><a href="/subjects?subjects=1">Work Requirements</a></li>
                        </ul>
                    </div>
                </div>
                <div class="featured-materials interactive">
                    <h3>One Search, All Sources</h3>
                    <div class="featured-materials__text">
                        <p>Is something in statute, regulation, or guidance? What documents have cited an executive order? Search everything. <em>Try it</em>:</p>
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Side-by-side layout container -->
        <div class="main-content-wrapper">
            <!-- Left side: Regulations navigation -->
            <div class="regulation-navigation">
                <nav id="placeholderNav"></nav>
                <left-nav-collapse contents-description="table of contents">
                    <template #nav-contents>
                        <toc-container
                            api-url="{{ API_BASE }}"
                            home-url="{% url 'homepage' %}"
                        ></toc-container>
                    </template>
                </left-nav-collapse>
            </div>

            <div class="content-section">
                <div class="top-container">
                    <div class="cta__container">
                        <div class="cta">
                            <div class="resources__container">
                                <recent-resources
                                    api-url={{ API_BASE }}
                                    home-url="{% url 'homepage' %}"
                                ></recent-resources>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
